fastapi==0.103.2
uvicorn==0.24.0
motor==3.3.2
pymongo==4.6.0
python-dotenv==1.0.0
httpx==0.25.2
httpcore==1.0.9
pydantic==2.8.2
python-multipart==0.0.6
mangum==0.17.0
eth-account==0.8.0
web3==6.15.1
requests==2.28.2
irys-sdk==0.1.8a3
cytoolz==1.0.1
toolz==1.0.0
setuptools>=65.0.0
wheel>=0.37.0